.weather {
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .weather__box {
      width: 1200px;
      height: 700px;
      border-radius: 20px;
      background: linear-gradient(rgba(222, 222, 222, 0.4), rgba(229, 228, 228, 0.2)),url("./background-image2.jpg");
      background-size: cover;
      background-position: center;
      position: relative;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}