.weather {
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .weather__box {
      width: 1200px;
      height: 700px;
      border-radius: 20px;
      background: linear-gradient(rgba(222, 222, 222, 0.7), rgba(229, 228, 228, 0.2)),url("./background-image2.jpg");
      background-size: cover;
      background-position: center;
      position: relative;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .weather__loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
@media (max-width: 1280px) {
  .weather {
    .container {
      .weather__box {
        width: 800px;
        height: 600px;
      }
    }
  }
}
@media (max-width: 880px) {
  .weather {
    .container {
      .weather__box {
        width: 600px;
        height: 600px;
      }
    }
  }
}
@media (max-width: 650px) {
  .weather {
    .container {
      .weather__box {
        width: 350px;
        height: 95%;
        padding: 20px;
      }
    }
  }
}