@import "src/scss/main";

.home {
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .home__box {
      width: 1200px;
      height: 700px;
      border-radius: 20px;
      background: linear-gradient(rgba(214, 213, 213, 0.6), rgba(229, 228, 228, 0.2)),url("./background-image2.jpg");
      background-size: cover;
      background-position: center;
      position: relative;
      .home__box-title {
        font-size: 36px;
        font-weight: 600;
        color: $color-white;
        font-family: $font-base;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}