@import "src/scss/main";

.weather__city {
  .weather__city-name {
    font-size: 60px;
    color: $color-white;
    font-family: $font-base;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    a {
      text-decoration: none;
      .back-button {
        font-size: 28px;
        color: $color-white;
      }
    }

  }
  .weather__city-temperature {
    margin-top: 10px;
    font-size: 40px;
    color: $color-white;
    font-family: $font-base;
    font-weight: 500;
  }
}